@import "../css/background.scss";
@media (min-width: 786px) {
  .hold-container {
    padding-top: 62.5%;
    @include div-same-size-as-background-img("../assets/bgimg2.png");
    .hold {
      /* margin-left: 29.1%; */
      width: 600px;
    }
    .holdbox {
      width: 600px;
    }
  }
}
@media (max-width: 785px) {
  .hold-container {
    padding-top: 100%;
    @include div-same-size-as-background-img("../assets/phonebgimg2.svg");
    .hold {
      /* margin-left: 29.1%; */
      width: 500px;
    }
    .holdbox {
      width: 500px;
    }
  }
}

.hold-container {
  position: relative;

  .boxtwotext {
    padding-top: 80px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p1 {
    margin-bottom: 35px;
    mix-blend-mode: normal;
    color: rgba(255, 255, 255, 1);
  }
  .p2 {
    width: 183px;
    height: 50px;
    mix-blend-mode: normal;
    color: rgba(255, 255, 255, 1);
    position: absolute;
  }
  .holdout {
    display: flex;
    justify-content: center;
  }
  .hold {
    /* margin-left: 29.1%; */
    height: 290px;
  }
  .holdbox {
    position: relative;
    height: 120px;
    background: rgba(96.00000000000001, 194.00000000000006, 248, 1);
    background-blend-mode: normal;
    border-radius: 110px;
    mix-blend-mode: normal;
  }
}
