@import "../css/background.scss";
@media (min-width: 764px) {
  .member-container {
    @include div-same-size-as-background-img("../assets/bgimg5.svg");
  }
}
@media (max-width: 763px) {
  .member-container {
    @include div-same-size-as-background-img("../assets/phonebgimg1.svg");
  }
}

.member-container {
  position: relative;
  padding-top: 62.5%;

  .member {
    width: 100%;
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  .membership {
    margin: 0px;
    mix-blend-mode: normal;
    color: black;
    font-size: 40px;
    line-height: 46px;
  }
  .memberbox {
    margin-top: 150px;
    width: 600px;
    height: 120px;
    background: rgba(255, 255, 255, 1);
    background-blend-mode: normal;
    box-shadow: 0px 1px 5px rgba(201, 223, 240, 1);
    border-radius: 80px;
    mix-blend-mode: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    position: relative;
  }
  .mca {
    margin: 0%;
    background-blend-mode: normal;
    mix-blend-mode: normal;
    color: rgba(161, 166, 169, 1);
    font-size: 16px;
    line-height: 40px;
  }
  .mcanum {
    margin: 0%;
    background-blend-mode: normal;
    mix-blend-mode: normal;
    color: rgba(73, 170, 239, 1);
    font-size: 30px;
    line-height: 30px;
  }
  .memberboxtext {
    position: absolute;
    top: 200px;
    left: 0px;
  }
}
