@import "../css/background.scss";
@media (min-width: 1080px) {
  .Signers {
    @include div-same-size-as-background-img("../assets/signers.svg");
    padding-top: 58.33333%;
    .ms {
      top: 100px;
      font-size: 40px;
    }
    .iiuc {
      font-size: 40px;
      margin-top: 80px;
    }
    .addbox {
      width: 760px;
      margin-top: 80px;
    }
  }
}
@media (max-width: 1079px) and (min-width: 600px) {
  .Signers {
    @include div-same-size-as-background-img("../assets/phonesigners.svg");
    padding-top: 78.125%;
    .ms {
      font-size: 40px;
      line-height: 50px;
    }
    .iiuc {
      font-size: 30px;
      line-height: 64px;
    }
    .addbox {
      width: 580px;
      margin-top: 50px;
    }
  }
}
@media (max-width: 599px) and (min-width: 410px) {
  .Signers {
    @include div-same-size-as-background-img("../assets/phonesigners.svg");
    padding-top: 78.125%;
    .ms {
      font-size: 32px;
    }
    .iiuc {
      font-size: 23px;
      margin-top: 25px;
    }
    .addbox {
      width: 340px;
      margin-top: 50px;
    }
  }
}
@media (max-width: 409px) {
  .Signers {
    @include div-same-size-as-background-img("../assets/phonesigners.svg");
    padding-top: 78.125%;
    .ms {
      margin-top: -50px;
      font-size: 22px;
    }
    .iiuc {
      font-size: 14px;
      margin-top: 10px;
    }
    .addbox {
      width: 280px;
      margin-top: 30px;
    }
  }
}

.Signers {
  position: relative;

  .signers {
    top: 100px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .ms {
    color: rgba(255, 255, 255, 1);
  }
  .iiuc {
    color: rgba(195, 229, 251, 1);
  }
  .addbox {
    height: 60px;
    border-radius: 60px;
    background: rgba(109, 197, 252, 1);
    a {
      color: rgba(255, 255, 255, 1);
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      align-items: center;
      font-size: 16px;
    }
    &:hover {
      border: 1px solid rgba(255, 255, 255, 1);
    }
  }
}
