@import "../css/background.scss";
@media (min-width: 786px) {
  .buy-container {
    padding-top: 62.5%;
    @include div-same-size-as-background-img("../assets/bgimg3.svg");
    .buyadd {
      margin-top: 200px;
      width: 919px;
    }
    .tobuys {
      padding-top: 150px;
    }
    .buyone {
      width: 360px;
    }
    .buytext {
      width: 330px;
      height: 50px;
      font-size: 46px;
    }
    .buytextimg {
      width: 36px;
      height: 36px;
    }
    .buyaddbox {
      width: 260px;
      height: 60px;
    }
    .buylocation1 {
      top: 0px;
      right: 300px;
    }
    .buylocation2 {
      top: 0px;
      right: 0px;
    }
    .buytag {
      margin-left: 15px;
      width: 30px;
      height: 30px;
    }
    .buyaddtext {
      margin-left: 15px;
      color: rgba(23, 25, 29, 1);
      font-size: 16px;
    }
    .buy {
      font-size: 20px;
    }
  }
}
@media (max-width: 785px) {
  .buy-container {
    padding-top: 100%;
    @include div-same-size-as-background-img("../assets/phonebgimg3.svg");
    .tobuy {
      height: 100%;
      align-items: center;
    }
    .tobuys {
      height: 270px;
    }
    .buyone {
      width: 270px;
    }
    .buytext {
      width: 228px;
      height: 38px;
      font-size: 34px;
    }
    .buytextimg {
      width: 27px;
      height: 27px;
    }
    .buyadd {
      margin-top: 50px;
      width: 300px;
    }
    .buyimg {
      transform: rotate(90deg);
    }
    .buyaddbox {
      width: 240px;
      height: 60px;
    }
    .buylocation1 {
      top: 40px;
    }
    .buylocation2 {
      top: 120px;
    }
    .buytag {
      margin-left: 17px;
      width: 45px;
      height: 45px;
    }
    .buyaddtext {
      margin-left: 23px;
      color: rgba(23, 25, 29, 1);
      font-size: 20px;
    }
    .buy {
      font-size: 20px;
    }
  }
}

.buy-container {
  position: relative;

  .tobuy {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
  }
  .tobuys {
    position: relative;
  }
  .buyone {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .buytext {
    margin: 0px;
    mix-blend-mode: normal;
    color: rgba(61, 61, 59, 1);
  }
  .buyadd {
    height: 60px;
    position: relative;
  }
  .buy {
    width: 240px;
    height: 30px;
    mix-blend-mode: normal;
    color: rgba(61, 61, 59, 1);
    line-height: 30px;
  }
  .buyimg {
    margin-left: 50px;
    width: 16.01px;
    height: 14.09px;
    background-blend-mode: normal;
    mix-blend-mode: normal;
  }
  .buyaddbox {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    background-blend-mode: normal;
    box-shadow: 0px 1px 5px rgba(201, 223, 240, 1);
    border-radius: 16px;
    mix-blend-mode: normal;
    display: flex;
    align-items: center;
  }
  .buyaddbox:hover {
    border: 1px solid #3394e6;
  }
}
