@import "../css/background.scss";
@media (min-width: 786px) {
  .contract {
    @include div-same-size-as-background-img("../assets/bgimg4.png");
    padding-top: 62.5%;
    .webadd {
      padding-top: 175px;
    }
    .webadds {
      width: 900px;
    }
    .addtext {
      font-size: 46px;
      width: 592px;
    }
    .addtextimg {
      width: 36px;
      height: 36px;
    }
    .addbox {
      width: 580px;
      height: 60px;
    }
    .addboxlocation1 {
      margin-top: 130px;
    }
    .addboxlocation2 {
      margin-top: 30px;
    }
    .addboxhead {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      width: 120px;
      height: 60px;
      color: rgba(51, 147, 230, 1);
      font-size: 18px;
    }
    .right {
      left: 546px;
      top: 25px;
      width: 14px;
      height: 10.5px;
    }
    .spantext {
      font-size: 16px;
      line-height: 14px;
      left: 140px;
      top: 25px;
    }
    .spantext1 {
      font-size: 12px;
    }
  }
}
@media (max-width: 785px) {
  .contract {
    @include div-same-size-as-background-img("../assets/phonebgimg4.svg");
    padding-top: 100%;
    .webadd {
      height: 100%;
      align-items: center;
    }
    .addtext {
      padding-left: 25px;
      font-size: 18px;
      width: 250px;
    }
    .addtextimg {
      width: 16px;
      height: 16px;
    }
    .addbox {
      width: 360px;
      height: 62px;
    }
    .addboxlocation1 {
      margin-top: 30px;
    }
    .addboxlocation2 {
      margin-top: 30px;
    }
    .addboxhead {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      width: 74px;
      height: 62px;
      color: rgba(51, 147, 230, 1);
      font-size: 18px;
    }
    .right {
      left: 330px;
      top: 25px;
      width: 16px;
      height: 12px;
    }
    .spantext {
      top: 15px;
      left: 85px;
      font-size: 16px;
      line-height: 21px;
      width: 236px;
      height: 40px;
      display: block;
      word-wrap: break-word;
    }
    .spantext1 {
      font-size: 14px;
    }
  }
}

.contract {
  position: relative;

  .webadd {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
  }
  .webAddone {
    display: flex;
    align-items: center;
  }
  .addtext {
    margin: 0px;
    height: 40px;
    mix-blend-mode: normal;
    color: rgba(255, 255, 255, 1);
    line-height: 40px;
  }
  .addbox {
    position: relative;
    background: rgba(108.55350000000001, 197.289675, 252.45, 1);
    background-blend-mode: normal;
    border-radius: 60px;
    mix-blend-mode: normal;
    border: 1px solid rgba(252, 254, 255, 0);
  }
  .addbox:hover {
    border: 1px solid rgba(252, 254, 255, 1);
  }
  .addimg {
    width: 120px;
    height: 70px;
    margin-top: -4px;
    background-blend-mode: normal;
    mix-blend-mode: normal;
  }
  .eth {
    position: absolute;
    margin-left: 20px;
    margin-top: 25px;
    mix-blend-mode: normal;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 14px;
  }
  .addboxhead {
    background-color: white;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    position: absolute;
    background-blend-mode: normal;
    mix-blend-mode: normal;
  }
  .spantext {
    position: absolute;
    mix-blend-mode: normal;
    color: rgba(255, 255, 255, 1);
  }
}
