@import "../css/background.scss";
@media (min-width: 786px) {
  .community {
    @include div-same-size-as-background-img("../assets/bgimg1.svg");
    padding-top: 58.33333%;
    .content {
      padding-left: 140px;
      padding-top: 135px;
      .amount {
        display: flex;
        justify-content: space-between;
        padding: 14px 20px;
        margin-top: 45px;
        box-shadow: 0px 1px 5px rgba(201, 223, 240, 1);
        border-radius: 16px;
        background-color: #fff;
        color: #a1a6a9;
        font-size: 14px;
        .value {
          color: #3393e6;
          font-size: 20px;
          margin-top: 6px;
        }
      }
    }
  }
}
@media (max-width: 785px) {
  .community {
    @include div-same-size-as-background-img("../assets/phonebgimg1.svg");
    padding-top: 100%;
    .content {
      margin-top: 75px;
      width: 100%;
      display: flex;
      justify-content: center;
      .amount {
        width: 520px;
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
        box-shadow: 0px 1px 5px rgba(201, 223, 240, 1);
        border-radius: 16px;
        background-color: #fff;
        color: #a1a6a9;
        // font-size: 3.4375%;
        padding: 15px 20px;
        font-size: 22px;
        .value {
          color: #3393e6;
          // font-size: 3.125%;
          font-size: 30px;
          margin-top: 25px;
        }
      }
    }
  }
}

.community {
  position: relative;

  .content {
    position: absolute;
    top: 0px;
    .wel {
      font-size: 40px;
      line-height: 30px;
      color: #444444;
    }

    .ccdao {
      font-size: 50px;
      line-height: 50px;
      color: #3393e6;
      margin-top: 12px;
    }

    .vision {
      font-size: 16px;
      color: #444;
      margin-top: 8px;
    }

    .token {
      font-size: 50px;
      color: #3393e6;
      margin-top: 40px;
    }

    .holder {
      font-size: 16px;
      color: #555656;
      margin-top: 6px;
    }

    // .amount {
    //   display: flex;
    //   justify-content: space-between;
    //   padding: 14px 20px;
    //   margin-top: 45px;
    //   box-shadow: 0px 1px 5px rgba(201, 223, 240, 1);
    //   border-radius: 16px;
    //   background-color: #fff;
    //   color: #a1a6a9;
    //   font-size: 14px;
    //   .value {
    //     color: #3393e6;
    //     font-size: 20px;
    //     margin-top: 6px;
    //   }
    // }
  }
}
