[submodule "contract/foundry/CCDAO_ERC20/lib/forge-std"]
	path = contract/foundry/CCDAO_ERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contract/CCDAO_ERC3525/lib/forge-std"]
	path = contract/CCDAO_ERC3525/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contract/CCDAO_ERC3525/lib/openzeppelin-contracts-upgradeable"]
	path = contract/CCDAO_ERC3525/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contract/CCDAO_ERC3525/lib/openzeppelin-contracts"]
	path = contract/CCDAO_ERC3525/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
